@keyframes animate-slide-left {
  from {
    transform: scale(0.8) translateX(-20px);
    opacity: 0;
  }

  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@keyframes animate-slide-top {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-slide-top-right {
  from {
    transform: translateY(-10px) translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes animate-rotate {
  from {
    transform: scale(0.8) rotate(15deg);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}