$background: var(--background);
$color-text: var(--color-text);
$accent: var(--accent);

$background-revers: var(--background-revers);
$color-text-revers: var(--color-text-revers);

$galaxy-background: var(--galaxy-background);
$galaxy-active-text: var(--galaxy-active-text);
$galaxy-hover-item: var(--galaxy-hover-item);

$background-page-header-fixed: var(--background-page-header-fixed);
$galaxy-active-text-fixed: var(--galaxy-active-text-fixed);
$color-text-page-header-fixed: var(--color-text-page-header-fixed);
$galaxy-hover-item-fixed: var(--galaxy-hover-item-fixed);
$color-header-page-fixed-one: var(--color-header-page-fixed-one);
$color-header-page-fixed-two: var(--color-header-page-fixed-two);
$gradient-artist-fixed: var(--gradient-artist-fixed);

$background-burger: var(--background-burger);
$color-burger: var(--color-burger);
$color-burger-open: var(--color-burger-open);
$color-burger-fixed: var(--color-burger-fixed);

$background-skills: var(--background-skills);
$border-color-skills: var(--border-color-skills);

$background-menu: var(--background-menu);
$color-menu: var(--color-menu);
$border-color-menu: var(--border-color-menu);

$border-color-ui: var(--border-color-ui);

$background-frame: var(--background-frame);
$border-all-view: var(--border-all-view);

$color-shadow-portfolio: var(--color-shadow-portfolio);

$color-border-ui: var(--color-border-ui);

// audio player
$background-audio-player: var(--background-audio-player);
$color-text-audio-player: var(--color-text-audio-player);

// chart
$background-chart: var(--background-chart);
$color-text-chart: var(--color-text-chart);
$accent-chart: var(--accent-chart);
$color-border-chart: var(--color-border-chart);
$background-price-chart: var(--background-price-chart);
$color-price-chart: var(--color-rpice-chart);

// chart
$background-weather: var(--background-weather);
$color-text-weather: var(--color-text-weather);
$background-selected-weather: var(--background-selected-weather);
$background-selector-weather: var(--background-selector-weather);
$background-selector-active-weather: var(--background-selector-active-weather);

// clock
$background-clock: var(--background-clock);
$background-round-clock: var(--background-round-clock);
$color-clock: var(--color-clock);
$accent-clock: var(--accent-clock);

// menu ui
$background-menu-ui: var(--background-menu-ui);
$background-menu-ui-active: var(--background-menu-ui-active);
$color-text-menu-ui: var(--color-text-menu-ui);
$color-text-menu-ui-active: var(--color-text-menu-ui-active);

// tooltip
$background-tooltip: var(--background-tooltip);
$color-text-tooltip: var(--color-text-tooltip);

// button hover
$color-button-hover: var(--color-button-hover);
$color-button-hover-second: var(--color-button-hover-second);